<style type="text/css">
.stream-container .post .post-body-wrapper .post-body img[src$='#floatright'] {
  max-width: 50%;
  width: auto\9*0.5; /* ie8 */
  height: auto;
  float: right;
  padding-left: 1ex;
}

/* Styles: monokailight and monokai. */
{{ partial "css/syntax-light.css" . | safeCSS }}
.night {
  {{ partial "css/syntax-dark.css" . | safeCSS }}
}

/* Render MathJAX formulas as white in the dark mode. */
@media (prefers-color-scheme: dark) {
  mjx-container,
  mjx-container * {
    color: #ffffff !important;
    fill: #ffffff !important;
    stroke: #ffffff !important;
  }
}

</style>
