<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />

  <link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed">

  <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Home</a>
  </div>
  
  {{ content }}

  <div class="footer">
    <a type="application/atom+xml" href="/atom.xml">Subscribe to posts (Atom)</a>
    <div class="contact">
      <p>
        Victor Zverovich<br />
        victor@zverovich.net
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/vitaut/">github.com/vitaut</a><br />
        <a href="http://stackoverflow.com/users/471164/vitaut">stackoverflow.com/users/471164/vitaut</a><br />
      </p>
    </div>
  </div>
</div>

<a href="http://github.com/vitaut"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20116650-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
