<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head
       content must come *after* these tags -->

  <title>{{ page.title }}</title>

  <link rel="shortcut icon" href="/favicon.ico?v=3" />
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  
  <style>
  .page-header {
    color: #aaa;
    border-bottom: 1px solid #eee;
  }

  h2 {
    font-size: 28px;
  }

  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-nav > li > a:hover {
    color: steelblue;
  }
  
  ul.posts {
    list-style-type: none;
    padding-left: 0px;
  }

  #home li {
    padding-bottom: 1ex;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }
  
  pre {
    border-radius: 0px;
  }

  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #eee;
    text-align: center;
  }
  </style>

  <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Atom feed">

  <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>

<nav class="navbar navbar-default" style="border-radius: 0px;">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="navbar-header">
          <!-- Create a button looks like ≡ on narrow screens and toggles navigation. -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="https://github.com/vitaut">GitHub</a></li>
            <li><a href="http://stackoverflow.com/users/471164/vitaut">StackOverflow</a></li>
            <li><a href="https://twitter.com/vzverovich">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      {{ content }}
      
      <div class="footer">
        <a type="application/atom+xml" href="/atom.xml">Subscribe to posts (Atom)</a>
        <!--div class="contact">
          <p>
            <a href="http://github.com/vitaut/">github.com/vitaut</a><br />
            <a href="http://stackoverflow.com/users/471164/vitaut">stackoverflow.com/users/471164/vitaut</a><br />
          </p>
        </div-->
      </div>    
    </div>
  </div>
</div>

<a class="hidden-xs" href="http://github.com/vitaut"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/img/forkme.png" alt="Fork me on GitHub" /></a>

<!-- JavaScript placed at the end of the document so the pages load faster. -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20116650-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
